<html>
  <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
  <script src='/static/server.js'></script>
  <body>
    <div>
      <a>Live Camera feed</a> <!-- This will have the like 'square highlighting' for the object detection and depth detection -->
      <img src="http://localhost:5000/cam" width="640" height="480">
    </div>
    <div>
      <textarea id="code input" rows=30 cols=100></textarea>
      <button onclick="runCode()">Run Code</button>
      <h3>Output</h3>
      <a id="output"></a>
    </div>
  </body>
</html>
